!!! 5
%html
  %head
  %link{:type => "text/css", :rel => "stylesheet", :href => "style.css"}
  %body
    .container
      .block
        %h3 Green is the prime color of the world
        %h1 The beaty of nature
        %button READ MORE